<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>Organisation Profile System</title>
    <link rel="stylesheet" href="../static/bootstrap.css">
    <link rel="stylesheet" href="../static/body_content.css">
    <script src="../static/jquery.min.js"></script>
    <script src="../static/bootstrap.min.js"></script>
</head>
<body>
    {% include 'includes/navbar.html' %}
    <div>
        {% include 'includes/_messages.html' %}
        {% block body %} {% endblock %}
    </div>

</body>
</html>

